<a href="https://colab.research.google.com/github/amani7173/Bank-project-MySQL/blob/master/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv("hungary_chickenpox.csv")

           Date  BUDAPEST  BARANYA  BACS  ...  TOLNA  VAS  VESZPREM  ZALA
0    03/01/2005       168       79    30  ...     11   29        87    68
1    10/01/2005       157       60    30  ...     58   53        68    26
2    17/01/2005        96       44    31  ...     24   18        62    44
3    24/01/2005       163       49    43  ...     25   21        43    31
4    31/01/2005       122       78    53  ...      7   47        85    60
..          ...       ...      ...   ...  ...    ...  ...       ...   ...
517  01/12/2014        95       12    41  ...      4   11       110    10
518  08/12/2014        43       39    31  ...     23   22        63     9
519  15/12/2014        35        7    15  ...     14    0        17    10
520  22/12/2014        30       23     8  ...      1    1        83     2
521  29/12/2014       259       42    49  ...     27   11       103    25

[522 rows x 21 columns]

In [ ]:
pd.read_csv("hungary_county_edges.csv")

       name_1    name_2  id_1  id_2
0        BACS      JASZ     0    10
1        BACS      BACS     0     0
2        BACS   BARANYA     0     1
3        BACS  CSONGRAD     0     5
4        BACS      PEST     0    13
..        ...       ...   ...   ...
97   VESZPREM    SOMOGY    18    14
98       ZALA       VAS    19    17
99       ZALA      ZALA    19    19
100      ZALA    SOMOGY    19    14
101      ZALA  VESZPREM    19    18

[102 rows x 4 columns]

In [ ]:
pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data")

        Afghanistan  5  1   648  16  10  ...  0.8  1.7  0.9  0.10  black  green.1
0           Albania  3  1    29   3   6  ...    0    0    1     0    red      red
1           Algeria  4  1  2388  20   8  ...    0    0    0     0  green    white
2    American-Samoa  6  3     0   0   1  ...    1    1    1     0   blue      red
3           Andorra  3  1     0   0   6  ...    0    0    0     0   blue      red
4            Angola  4  2  1247   7  10  ...    0    1    0     0    red    black
..              ... .. ..   ...  ..  ..  ...  ...  ...  ...   ...    ...      ...
188   Western-Samoa  6  3     3   0   1  ...    0    0    0     0   blue      red
189      Yugoslavia  3  1   256  22   6  ...    0    0    0     0   blue      red
190           Zaire  4  2   905  28  10  ...    0    1    1     0  green    green
191          Zambia  4  2   753   6  10  ...    0    0    1     0  green    brown
192        Zimbabwe  4  2   391   8  10  ...    1    1    1     0  green    green

[193 rows x 30 columns]

In [ ]:
s = """
1. name: Name of the country concerned
2. landmass: 1=N.America, 2=S.America, 3=Europe, 4=Africa, 4=Asia, 6=Oceania
3. zone: Geographic quadrant, based on Greenwich and the Equator; 1=NE, 2=SE, 3=SW, 4=NW
4. area: in thousands of square km
5. population: in round millions
6. language: 1=English, 2=Spanish, 3=French, 4=German, 5=Slavic, 6=Other Indo-European, 7=Chinese, 8=Arabic, 9=Japanese/Turkish/Finnish/Magyar, 10=Others
7. religion: 0=Catholic, 1=Other Christian, 2=Muslim, 3=Buddhist, 4=Hindu, 5=Ethnic, 6=Marxist, 7=Others
8. bars: Number of vertical bars in the flag
9. stripes: Number of horizontal stripes in the flag
10. colours: Number of different colours in the flag
11. red: 0 if red absent, 1 if red present in the flag
12. green: same for green
13. blue: same for blue
14. gold: same for gold (also yellow)
15. white: same for white
16. black: same for black
17. orange: same for orange (also brown)
18. mainhue: predominant colour in the flag (tie-breaks decided by taking the topmost hue, if that fails then the most central hue, and if that fails the leftmost hue)
19. circles: Number of circles in the flag
20. crosses: Number of (upright) crosses
21. saltires: Number of diagonal crosses
22. quarters: Number of quartered sections
23. sunstars: Number of sun or star symbols
24. crescent: 1 if a crescent moon symbol present, else 0
25. triangle: 1 if any triangles present, 0 otherwise
26. icon: 1 if an inanimate image present (e.g., a boat), otherwise 0
27. animate: 1 if an animate image (e.g., an eagle, a tree, a human hand) present, 0 otherwise
28. text: 1 if any letters or writing on the flag (e.g., a motto or slogan), 0 otherwise
29. topleft: colour in the top-left corner (moving right to decide tie-breaks)
30. botright: Colour in the bottom-left corner (moving left to decide tie-breaks)
"""

In [ ]:
ls = s.split("\n")

In [ ]:
ls_col_names = []

for x in range(1, len(ls)-1):
    ls_col_names.append(ls[x].split()[1][:-1])

In [ ]:
ls_col_names

['name',
 'landmass',
 'zone',
 'area',
 'population',
 'language',
 'religion',
 'bars',
 'stripes',
 'colours',
 'red',
 'green',
 'blue',
 'gold',
 'white',
 'black',
 'orange',
 'mainhue',
 'circles',
 'crosses',
 'saltires',
 'quarters',
 'sunstars',
 'crescent',
 'triangle',
 'icon',
 'animate',
 'text',
 'topleft',
 'botright']

In [ ]:
pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data", names=ls_col_names)

               name  landmass  zone  area  ...  animate  text  topleft  botright
0       Afghanistan         5     1   648  ...        0     0    black     green
1           Albania         3     1    29  ...        1     0      red       red
2           Algeria         4     1  2388  ...        0     0    green     white
3    American-Samoa         6     3     0  ...        1     0     blue       red
4           Andorra         3     1     0  ...        0     0     blue       red
..              ...       ...   ...   ...  ...      ...   ...      ...       ...
189   Western-Samoa         6     3     3  ...        0     0     blue       red
190      Yugoslavia         3     1   256  ...        0     0     blue       red
191           Zaire         4     2   905  ...        1     0    green     green
192          Zambia         4     2   753  ...        1     0    green     brown
193        Zimbabwe         4     2   391  ...        1     0    green     green

[194 rows x 30 columns]

<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\">
<html>
<head>
<title>UCI Machine Learning Repository: Hungarian Chickenpox Cases Data Set</title>

<!-- Stylesheet link -->
<link rel="stylesheet" type="text/css" href="../assets/ml.css" />

<script language="JavaScript" type="text/javascript">
<!--
function checkform ( form )
{
  // see http://www.thesitewizard.com/archive/validation.shtml
  // for an explanation of this script and how to use it on your
  // own website

  // ** START **
  if (form.q.value == "")
  {
    alert( "Please enter search terms." );
    form.q.focus();
    return false ;
  }

  if (getCheckedValue(form.sitesearch) == "ics.uci.edu" && form.q.value.indexOf("site:archive.ics.uci.edu/ml") == -1)
  {
    form.q.value = form.q.value + " site:archive.ics.uci.edu/ml";
  }

  // ** END **
  return true ;
}

// return the value of the radio button that is checked
// return an empty string if none are checked, or
// there are no radio buttons
function getCheckedValue(radioObj) {
	if(!radioObj)
		return "";
	var radioLength = radioObj.length;
	if(radioLength == undefined)
		if(radioObj.checked)
			return radioObj.value;
		else
			return "";
	for(var i = 0; i < radioLength; i++) {
		if(radioObj[i].checked) {
			return radioObj[i].value;
		}
	}
	return "";
}
//-->
</script>

</head>

<body>


<!-- SITE HEADER (INCLUDES LOGO AND SEARCH BOX) -->

<table width=100% bgcolor="#003366">
<tr>
	<td>
		<span class="normal"><a href="../index.html" alt="Home"><img src="../assets/logo.gif"
border=0></img></a><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://cml.ics.uci.edu"><font color="FFDD33">Center for Machine Learning and Intelligent Systems</font></a></span>
	</td>
	<td width=100% valign=top align="right">
		<span class="whitetext">
		<a href="../about.html">About</a>&nbsp;
		<a href="../citation_policy.html">Citation Policy</a>&nbsp;
		<a href="../donation_policy.html">Donate a Data Set</a>&nbsp;
		<a href="../contact.html">Contact</a>
		</span>

		<br>
		<br>
		<!-- Search Google -->

		<FORM method=GET action=https://www.google.com/custom onsubmit="return checkform(this);">
		<INPUT TYPE=text name=q size=30 maxlength=255 value="">
		<INPUT type=submit name=sa VALUE="Search">
		<INPUT type=hidden name=cof VALUE="AH:center;LH:130;L:http://archive.ics.uci.edu/assets/logo.gif;LW:384;AWFID:869c0b2eaa8d518e;">
		<input type=hidden name=domains value="ics.uci.edu">
		<br>
		<input type=radio name=sitesearch value="ics.uci.edu" checked> <span class="whitetext"><font size="1">Repository</font></span>
		<input type=radio name=sitesearch value=""> <span class="whitetext"><font size="1">Web</font></span>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<A HREF=https://www.google.com/search><IMG SRC=https://www.google.com/logos/Logo_25blk.gif border=0 ALT=Google align=middle height=27></A>
		<br>
		</FORM>
		<!-- Search Google -->


		<span class="whitetext"><a href="../datasets.php"><font size="3" color="#FFDD33"><b>View
ALL Data Sets</b></font></a></span>
		<br>
	</td>
</tr>
</table>


<br />
<table width=100% border=0 cellpadding=2><tr><td>

   <table><tr>
     <td valign=top>
	<p>
	<span class="heading"><b>Hungarian Chickenpox Cases Data Set</b></span>
	<br><span class="normal"><i><font size=4 >Download</font></i>: <a href="../machine-learning-databases/00580/"><font
style="BACKGROUND-COLOR: #FFFFAA" size=4>Data Folder</font></a>, <a href="#"><font
style="BACKGROUND-COLOR: #FFFFAA" size=4>Data Set Description</font></a></span></p>

	<p class="normal"><b>Abstract</b>: A spatio-temporal dataset of weekly chickenpox cases from Hungary. The dataset consists of a county-level adjacency matrix and time series of the county-level reported cases between 2005 and 2015.</p>
     </td>
     <td> </td>
   </tr></table>

<table border=1 cellpadding=6>
	<tr>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Data Set Characteristics:&nbsp;&nbsp;</b></p></td>
		<td><p class="normal">Time-Series</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Number of Instances:</b></p></td>
		<td><p class="normal">521</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Area:</b></p></td>
		<td><p class="normal">Life</p></td>
	</tr>

	<tr>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Attribute Characteristics:</b></p></td>
		<td><p class="normal">Real</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Number of Attributes:</b></p></td>
		<td><p class="normal">20</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Date Donated</b></p></td>
		<td><p class="normal">2021-02-17</p></td>
	</tr>
	<tr>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Associated Tasks:</b></p></td>
		<td><p class="normal">Regression</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Missing Values?</b></p></td>
		<td><p class="normal">N/A</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Number of Web Hits:</b></p></td>
		<td><p class="normal">20846</p></td>
	</tr>
	<!--
	<tr>

		<td bgcolor="#DDEEFF"><p class="normal"><b>Highest Percentage Achieved:&nbsp;&nbsp;</b></p></td>
		<td><p class="normal">N/A</p></td>
	</tr>
	-->
</table>


<br />

<p class="small-heading"><b>Source:</b></p>
<p class="normal">Benedek Rozemberczki, The University of Edinburgh, <u>benedek.rozemberczki <b>'@'</b> gmail.com</u></p>

<br />

<p class="small-heading"><b>Data Set Information:</b></p>
<br></p>

<br />

<p class="small-heading"><b>Attribute Information:</b></p>
<p class="normal">Attributes are weekly counts of chickenpox cases in Hungarian counties.</p>

<br />

<p class="small-heading"><b>Relevant Papers:</b></p>
<br>Benedek Rozemberczki, Paul Scherer, Oliver Kiss, Rik Sarkar, Tamas Ferenci</p>

<br />


<!-- OLD CODE:

<p class="small-heading"><b>Papers That Cite This Data Set<sup>1</sup>:</b></p>
<img src="../assets/rexa.jpg" />
<p class="normal">N/A</p>

-->



<br />

<p class="small-heading"><b>Citation Request:</b></p>
<br>}</p>

</td></tr></table>


<hr>

<!-- OLD CODE:
<p class="normal"><font size=1>[1] Papers were automatically harvested and associated with this data set, in collaboration with <a href="http://rexa.info"><font size=1>Rexa.info</font></a></font></p>
-->



<table cellpadding=5 align=center><tr valign=center>
		<td><p class="normal">Supported By:</p></td>
        <td><img src="../assets/nsfe.gif" height=60 /> </td>
        <td><p class="normal">&nbsp;In Collaboration With:</p></td>
        <td><img src="../assets/rexaSmall.jpg" /></td>
</tr></table>

<center>
<span class="normal">
<a href="../about.html">About</a>&nbsp;&nbsp;||&nbsp;
<a href="../citation_policy.html">Citation Policy</a>&nbsp;&nbsp;||&nbsp;
<a href="../donation_policy.html">Donation Policy</a>&nbsp;&nbsp;||&nbsp;
<a href="../contact.html">Contact</a>&nbsp;&nbsp;||&nbsp;
<a href="http://cml.ics.uci.edu">CML</a>
</span>
</center>




</body>
</html>

In [ ]:
pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00468/online_shoppers_intention.csv")["Revenue"].value_counts(normalize=True)

False    0.845255
True     0.154745
Name: Revenue, dtype: float64

In [ ]:
pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/chess/king-rook-vs-king/krkopt.data")

       a  1  b  3  c  2     draw
0      a  1  c  1  c  2     draw
1      a  1  c  1  d  1     draw
2      a  1  c  1  d  2     draw
3      a  1  c  2  c  1     draw
4      a  1  c  2  c  3     draw
...   .. .. .. .. .. ..      ...
28050  b  1  g  7  e  5  sixteen
28051  b  1  g  7  e  6  sixteen
28052  b  1  g  7  e  7  sixteen
28053  b  1  g  7  f  5  sixteen
28054  b  1  g  7  g  5  sixteen

[28055 rows x 7 columns]

In [ ]:
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/chess/king-rook-vs-king/krkopt.info

1. Title:
   Chess Endgame Database for White King and Rook against Black King (KRK) -
   Black-to-move Positions Drawn or Lost in N Moves.

2. Source Information:
   -- Creators: Database generated by Michael Bain and Arthur van Hoff
      at the Turing Institute, Glasgow, UK.
   -- Donor: Michael Bain (mike@cse.unsw.edu.au), AI Lab, Computer Science,
      University of New South Wales, Sydney 2052, Australia.
      (tel) +61 2 385 3939
      (fax) +61 2 663 4576
   -- Date: June, 1994.

3. Past Usage:

	Chess endgames are complex domains which are enumerable. Endgame
   databases are tables of stored game-theoretic values for the enumerated
   elements (legal positions) of the domain. The game-theoretic values stored
   denote whether or not positions are won for either side, or include also
   the depth of win (number of moves) assuming minimax-optimal play. From the
   point of view of experiments on computer induction such databases provide
   not only a source of examples but also an oracle (Roycroft, 1986) for
   testing induced rules. However a chess endgame database differs from, say,
   a relational database containing details of parts and suppliers in the
   following important respect. The combinatorics of computing the required
   game-theoretic values for individual position entries independently would
   be prohibitive. Therefore all the database entries are generated in a single
   iterative process using the ``standard backup'' algorithm (Thompson, 1986).

   A KRK database was described by Clarke (1977). The current database was
   described and used for machine learning experiments in Bain (1992; 1994). It
   should be noted that our database is not guaranteed correct, but the class
   distribution is the same as Clarke's database. In (Bain 1992; 1994) the
   task was classification of positions in the database as won for white in a
   fixed number of moves, assuming optimal play by both sides. The problem was
   structured into separate sub-problems by depth-of-win ordered draw, zero,
   one, ..., sixteen. When learning depth d all examples at depths > d are
   used as negatives. Quinlan (1994) applied Foil to learn a complete and
   correct solution for this task.

   	The typical complexity of induced classifiers in this domain suggest
   that the task is demanding when background knowledge is restricted.


4. Relevant Information:
   An Inductive Logic Programming (ILP) or relational learning framework is
   assumed (Muggleton, 1992). The learning system is provided with examples
   of chess positions described only by the coordinates of the pieces on the
   board. Background knowledge in the form of row and column differences is
   also supplied. The relations necessary to form a correct and concise
   classifier for the target concept must be discovered by the learning system
   (the examples already provide a complete extensional definition).
   The task is closely related to Quinlan's (1983) application of ID3 to
   classify White King and Rook against Black King and Knight (KRKN) positions
   as lost 2-ply or lost 3-ply. The framework is similar in that the example
   positions supply only low-grade data. An important difference is that
   additional background predicates of the kind supplied in the KRKN study via
   hand-crafted attributes are not provided for this KRK domain.

5. Number of Instances: 28056

6. Number of Attributes:
   There are six attribute variables and one class variable.

7. Attribute Information:
   1. White King file (column)
   2. White King rank (row)
   3. White Rook file
   4. White Rook rank
   5. Black King file
   6. Black King rank
   7. optimal depth-of-win for White in 0 to 16 moves, otherwise drawn
	{draw, zero, one, two, ..., sixteen}.


8. Missing Attribute Values: None

9. Class Distribution:

   draw       2796
   zero         27
   one          78
   two         246
   three        81
   four        198
   five        471
   six         592
   seven       683
   eight      1433
   nine       1712
   ten        1985
   eleven     2854
   twelve     3597
   thirteen   4194
   fourteen   4553
   fifteen    2166
   sixteen     390

   Total     28056


10. Note: Foil is available by anonymous ftp from ftp.cs.su.oz.au, file
    pub/foil6.sh.


References: (BibTeX format)

@incollection{bain_1992,
        AUTHOR = "M. Bain",
        TITLE = "Learning optimal chess strategies",
        BOOKTITLE = "{ILP 92}: {P}roc. {I}ntl. {W}orkshop on
		{I}nductive {L}ogic {P}rogramming",
        YEAR = 1992,
        VOLUME = "ICOT TM-1182",
        EDITOR = "S. Muggleton",
        PUBLISHER = "Institute for New Generation Computer Technology",
        ADDRESS = "Tokyo, Japan"}

@phdthesis{bain_1994,
        TITLE = "Learning {L}ogical {E}xceptions in {C}hess",
        AUTHOR = "M. Bain",
        SCHOOL = "University of Strathclyde",
        YEAR = "1994"}

@incollection{clarke_1977,
        AUTHOR = "M. R. B. Clarke",
        TITLE = "A {Q}uantitative {S}tudy of {K}ing and {P}awn
		{A}gainst {K}ing",
	BOOKTITLE = "Advances in Computer Chess",
        VOLUME = 1,
        PAGES = "108--118",
        EDITOR = "M. R. B. Clarke",
        PUBLISHER = "Edinburgh University Press",
        ADDRESS = "Edinburgh",
        YEAR = "1977"}

@incollection{muggleton_1992,
        AUTHOR = "S. Muggleton",
        TITLE = "Inductive {L}ogic {P}rogramming",
        BOOKTITLE = "Inductive {L}ogic {P}rogramming",
        PAGES = "3--27",
        EDITOR = "S. Muggleton",
        PUBLISHER = "Academic Press",
        ADDRESS = "London",
        YEAR = "1992"}

@incollection{quinlan_1983,
        AUTHOR = "J. R. Quinlan",
        TITLE = "Learning {E}fficient {C}lassification {P}rocedures and their
                {A}pplication to {C}hess {E}nd {G}ames",
        YEAR = 1983,
        PAGES = "464--482",
        BOOKTITLE = "Machine Learning: An Artificial Intelligence
                        Approach",
        EDITOR = "R. Michalski and J. Carbonnel and T. Mitchell",
        PUBLISHER = "Tioga",
        ADDRESS = "Palo Alto, CA"}

@misc{quinlan_1994,
        AUTHOR = "J. R. Quinlan",
        YEAR = 1994,
        NOTE = "Personal Communication"}

@article{roycroft_1986,
        AUTHOR = "A. J. Roycroft",
        TITLE = "Database ``{O}racles'': {N}ecessary and desirable features",
        JOURNAL = "International Computer Chess Association Journal",
        YEAR = "1986",
        VOLUME = 8,
        NUMBER = 2,
        PAGES = "100--104"}

@article{thompson_1986,
        AUTHOR = "K. Thompson",
        TITLE  = "Retrograde {A}nalysis of {C}ertain {E}ndgames",
        JOURNAL = "International Computer Chess Association Journal",
        YEAR = "1986",
        VOLUME = "8",
        NUMBER = "3",
        PAGES = "131--139"}